[submodule "GG/vendor/spdlog"]
	path = GG/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "GG/vendor/GLFW"]
	path = GG/vendor/GLFW
	url = https://github.com/yangyuanxx/glfw.git
[submodule "GG/vendor/imgui"]
	path = GG/vendor/imgui
	url = git@github.com:yangyuanxx/imgui.git
[submodule "GG/vendor/glm"]
	path = GG/vendor/glm
	url = https://github.com/g-truc/glm.git
